@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  box-sizing: border-box;
}
#showcase {
  margin: 0;
  padding: 0;
  background: url(images/Background/steps.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
#showcase h1 {
  font-size: 3rem;
  margin-bottom: 0;
  font-weight: bold;
}
h3 {
  font-weight: bold;
}

.container-fluid {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}
#services {
  background: url(images/Background/comp.jpg);
}
#contacts {
  background: url(images/Background/metal.jpg);
}
.hidden {
  display: none;
}
.box {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
